<div class="col-xs-12">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Valor</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="debitos in ctrl.billingCycle.debitos">
        <td><input ng-model="debitos.nome" class="form-control"
            placeholder="Informe o nome" ng-readonly="ctrl.tabDelete"/></td>
        <td><input ng-model="debitos.valor" class="form-control"
            placeholder="Informe o Valor" ng-readonly="ctrl.tabDelete" type="number"/></td>
        <td><input ng-model="debitos.status" class="form-control"
            placeholder="Informe o Status" ng-readonly="ctrl.tabDelete" /></td>
        <td class="table-actions">
          <button class="btn btn-success" 
             ng-class="{disabled:ctrl.tabDelete}" ng-click="ctrl.addDebito($index)">
          <i class="fa fa-plus"></i></button>
          <button class="btn btn-warning" 
             ng-class="{disabled:ctrl.tabDelete}" ng-click="ctrl.cloneDebito($index,debitos)">
          <i class="fa fa-clone"></i></button>
          <button class="btn btn-danger" 
             ng-class="{disabled:ctrl.tabDelete}" ng-click="ctrl.deleteDebito($index)">
          <i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>