<div role="form">
  <div class="box-body">
    <campo-form grid="12 6 4" group="form-group" for="Nome" input="nome"
    model="ctrl.billingCycle.nome" readonly = "ctrl.tabDelete"></campo-form>
    <campo-form grid="12 6 4" group="form-group" for="Mês" input="mes" 
    type="number" model="ctrl.billingCycle.mes" readonly = "ctrl.tabDelete"></campo-form>
    <campo-form grid="12 6 4" group="form-group" for="Ano" input="ano" 
    type="number" model="ctrl.billingCycle.ano" readonly = "ctrl.tabDelete"></campo-form>

    <div class="col-xs-12 col-sm-6">
      <fieldset>
        <legend>Créditos</legend>
        <div ng-include = "'billingCycle/creditList.html'"></div>
      </fieldset>      
    </div>
    <div class="col-xs-12 col-sm-6">
      <fieldset>
        <legend>Débitos</legend>
        <div ng-include = "'billingCycle/debitList.html'"></div>
      </fieldset>
    </div>
  </div>
  <div class="box-footer">
    <button class="btn btn-primary" ng-click="ctrl.create()"
      ng-if="ctrl.tabCreate">Incluir</button>
    <button class="btn btn-info" ng-if="ctrl.tabUpdate"
    ng-click="ctrl.update()">Alterar</button>
    <button class="btn btn-danger" ng-if="ctrl.tabDelete"
      ng-click="ctrl.delete()">Excluir</button>
    <button class="btn btn-default"
      ng-click="ctrl.refresh()">Cancelar</button>
  </div>
</div>